
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thundershare</title>
</head>
<body>
  <h2>Upload a file</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Choose a file:</label>
        <input type="file" id="file" name="file"></input>
        <button type="submit">Upload</button>
	<br>
  <textarea type="textarea" rows=20 cols=80 name="text" placeholder="Save your text here">{{ user_text }}</textarea>
  <button type="submit" formaction="/upload_text">Upload text</button>
    </form>

    {% if message %}
      <h1>{{ message }}</h1>
    {% endif %}
  <h2>Files</h2>
  <ul>
    {% for file in files %}
      <li> 
        <form action="/delete/{{ file }}"
              method="POST"
              >
              <button type="submit" formaction="/download/{{ file }}" formmethod="GET" formtarget="_blank">
                      {{ file }}
              </button>
              <button type="submit">
                Delete
              </button>
        </form>
      </li>
    {% endfor %}
  </ul>
</body>
</html>
