<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thundershare</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 p-6">
    
    <h2 class="text-xl font-semibold mb-4">Upload a file</h2>
    <form action="/upload" method="post" enctype="multipart/form-data" class="space-y-4">
        <div>
            <label for="file" class="block text-gray-700">Choose a file:</label>
            <input type="file" id="file" name="file" class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none focus:border-blue-500">
        </div>
        <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-700">Upload</button>
        
        <div>
            <textarea rows="10" name="text" placeholder="Save your text here" class="mt-4 w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500">{{ user_text }}</textarea>
        </div>
        <button type="submit" formaction="/upload_text" class="px-4 py-2 bg-green-500 text-white rounded-lg hover:bg-green-700">Upload text</button>
    </form>

    {% if message %}
        <h1 class="mt-6 text-red-500">{{ message }}</h1>
    {% endif %}

    <h2 class="text-xl font-semibold mt-8 mb-4">Files</h2>
    <ul class="space-y-2">
        {% for file in files %}
            <li>
                <form action="/delete/{{ file }}" method="POST" class="flex space-x-2 items-center">
                    <button type="submit" formaction="/download/{{ file }}" formmethod="GET" formtarget="_blank" class="px-4 py-2 bg-indigo-500 text-white rounded-lg hover:bg-indigo-700">{{ file }}</button>
                    <button type="submit" class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-700">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
